{% extends 'base.html' %}
{% load static %}
{% block title %} Team {% endblock %}

{% block content %}
    <br><br><br>
    <link rel="stylesheet"
          href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"/>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <div class="row">
        <div class="col-md-6 offset-md-4">
            <h1>Location of Zalau, Romania</h1>
            <div id="map" style="width: 600px; height: 400px;"></div>
            <br>
            <script>
                var map = L.map('map').setView([47.1757, 23.0626], 15);
                L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                    maxZoom: 19,
                }).addTo(map);
                L.marker([47.1757, 23.0626]).addTo(map)
                    .bindPopup('Zalau, Romania')
                    .openPopup();
            </script>
        </div>
    </div>
    {% include 'footer.html' %}
{% endblock %}