{% extends 'base.html' %}
{% load static %}
{% block title %} Team {% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <img src="{% static 'media/images/SDA3.jpeg' %}" class="rounded ms-auto d-block" alt="...">
            </div>
            <br><br><br><br><br><br><br><br><br><br><br><br><br>
            <h1 class="col-md-6 offset-md-3 heading-2 text-center"> Peste 75 de coordonatori experimentați monitorizează
                calitatea cursurilor noastre deoarece opiniile și satisfacția ta sunt importante pentru noi. </h1>
            <br><br><br><br><br><br><br><br><br><br>
            <p class="col-md-6 offset-md-3 medium-text-size text-center">Măsurăm întotdeauna gradul de satisfacție a
                cursanților pe durata cursului și după finalizarea acestuia. Avem un întreg departament dedicat
                susținerii
                și consultanței în carieră a cursanţilor noștri pentru a ne asigura că reușesc să pună în practică noile
                cunoștințe dobândite.</p>
            <div class="content-container">
                <br><br>
                <h2 class="heading-2 text-center">Cine suntem</h2>
                <br>
                <p class="text-center col-md-4 offset-md-4 big-size-text">Suntem prezenți pe piață de mulți ani și am construit o comunitate
                    globală
                    care se întinde din Europa până în Asia. Știm cum este să începi o carieră nouă într-un domeniu
                    complet
                    diferit. Totuși, industria IT este în căutare de talente și oferă nenumărate oportunități. </p>
            </div>
            <br><br><br><br><br><br><br><br><br><br><br><br>
            <div class="content-container">
                <h2 class="heading-2 text-center">Oamenii sunt totul</h2>
                <br>
                <p class="col-md-6 offset-md-3 medium-size-text">Suntem un grup de oameni pasionați, cu ani de
                    experiență în
                    proiecte IT
                    comerciale. Formatorii noștri nu sunt doar teoreticieni; ci îşi desfăşoară cursurile punând accentul
                    pe
                    foarte multă practică. Avem pasiunea de a ne împărtăși cunoștințele și de a contribui la procesul de
                    dezvoltare profesională a cursanţilor noștri. Credem că industria IT este pentru toată lumea: nu
                    trebuie
                    decât să îndrăznești să îți transformi visul în realitate.</p>
            </div>
            <br><br><br><br><br><br><br><br><br><br>
            <h1 class="heading-2 text-center">Hai în echipa noastră și fă-te remarcat!</h1>
            <br><br><br><br><br>
            <div class="boxes-container">
                <div class="box bg-light-orange">
                    <div>
                        <h4 class="col-md-6 offset-md-3 heading-3">Hai în echipa SDA</h4>
                        <br>
                        <div class="col-md-4 offset-md-2 text">
                            <p>Ești pregătit să schimbi situația actuală și să ajuți oameni în tranziția către o nouă
                                carieră?
                                Suntem mereu în căutare de talente pregătite să găsească soluții noi, hotărâte și foarte
                                orientate către clienți în tot ceea ce fac. Ți se potrivește acest profil?</p>
                        </div>
                        <div class="box bg-light-blue">
                            <div>
                                <h4 class="col-md-6 offset-md-7 heading-2">Devino formator</h4>
                                <br>
                                <div class="col-md-4 offset-md-6">
                                    <p>Dacă ți-ar plăcea să devii un excelent orator, să îți exersezi competențele
                                        sociale și să îți îmbunătățești cunoștințele, s-ar putea să avem ceva potrivit
                                        pentru tine. Hai în echipa noastră pentru a îndruma generația următoare de
                                        programatori și perfecționează-ți competențele!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include 'footer.html' %}
{% endblock %}
